/*
In general styles should be not need custom CSS in this app.
Should be possible to mostly use Chakra props and then do custom inline styles props when 
you need to tweak things.

This file is therefore more when you want to really flex your CSS muscles and do something
seriously groovy. Or when you just can't center something and you want to scream. We've
all been there.
*/

/*  from https://web.dev/articles/speedy-css-tip-animated-gradient-text */
.gradientText {
  --bg-size: 400%;
  --color-one: var(--chakra-colors-cyan-300);
  --color-two: var(--chakra-colors-pink-600);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 60s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.replayPlayer {
  height: "70vh";
  width: "80vw";
}
